<div class="modal fade" id="colorPickerModal" tabindex="-1" aria-labelledby="colorPickerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="colorPickerLabel">Choose a Color</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Select the color you want for your Wild card:</p>
                <div class="d-flex justify-content-evenly">
                    <button class="btn btn-primary" onclick="playWildCard('Blue')">Blue</button>
                    <button class="btn btn-success" onclick="playWildCard('Green')">Green</button>
                    <button class="btn btn-warning" onclick="playWildCard('Yellow')">Yellow</button>
                    <button class="btn btn-danger" onclick="playWildCard('Red')">Red</button>
                </div>
            </div>
        </div>
    </div>
</div>


