body {
  font-family: Arial, sans-serif;
  background-color: rgb(33, 33, 33);
  color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  background-color: #494949;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}

button:hover {
  background-color: #212121;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

.modal-content {
  background-color: #1e1e1e; 
  color: #ffffff;
}

.player-hand {
    border: 1px solid #ccc;
    padding: 15px;
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: flex-start; 
    width: 100%;
    box-sizing: border-box;
}

.card {
    flex: 0 1 150px;
    font-size: 18px;
    font-weight: 700;
    min-width: 150px;
    height: 50px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    border-width: 5px;    
    display: flex;
    align-items: center; 
    justify-content: center;
}


.card.Red {
    background-color: #e11003;
    border-color: #7a1a13;
}

.card.Green {
    background-color: #27a20e;
    border-color: #146705;
}

.card.Yellow {
    background-color: #ffd634;
    border-color: #987804;
}

.card.Blue {
    background-color: #3493ff;
    border-color: #074a96;
}

.card.Wild {
    background-color: #000000;
    border-image: linear-gradient(135deg, #e11003, #27a20e, #ffd634, #3493ff) 1;
}

.alert-danger {
  color: #ff3e34;
  background-color: #652a35;
  border-color: #46040b;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}


